In [1]:
import numpy as np
import pandas as pd
import ipywidgets as widgets
import osmnx as ox
from ipywidgets import interact, interact_manual
from tqdm import tqdm
import folium
import multiprocessing
import collections

from geo.geomath import vec_haversine, num_haversine
from geo.df import DataCleaner
from par.allel import parallel_process

In [15]:
df = pd.read_parquet("data/sir010113-310113.parquet")

In [16]:
cleaner = DataCleaner()

In [ ]:
cleaner.lat_col

In [17]:
vehicles = df['VehicleID']

In [18]:
unique_vehicles = df['VehicleID'].unique()

In [ ]:
def calculate_anomalies(df, max_speed):
    df = calculate_dt(df, 'Timestamp', 'dt', one_second=1000000)
    df = calculate_dx(df, 'Lat', 'Lon', 'dx')
    df = calculate_speed(df, 'dx', 'dt', 'v')
    anom = df[df['v'] > max_speed]
    return df, anom

In [29]:
def remove_speed_anomalies(df, max_speed=100.0):
    removed = None
    df, anom = cleaner.calculate_anomalies(df, max_speed)
    while anom.shape[0] > 0:
        df = cleaner.remove_anomaly(df, anom)
        
        idx0 = anom.index[0]
        if removed is None:
            removed = df.loc[idx0:idx0+1].copy()
        else:
            removed = removed.append(df.loc[idx0:idx0+1].copy())
        
        df = df.drop(anom.index[0])
        df, anom = cleaner.calculate_anomalies(df, max_speed)
    return df, removed

In [ ]:
def par_remove_speed_anomalies(vd):
    return { id: vd.id, df: remove_speed_anomalies(vd.df, max_speed=100.0) }

In [6]:
VehicleData = collections.namedtuple('VehicleData', ['id', 'df'])

In [ ]:
vd_list = []
for v in tqdm(unique_vehicles):
    vd_list.append(VehicleData(id=v, df=df[df['VehicleID'] == v].copy()))
vd_tuple = tuple(vd_list)

In [ ]:
df = None

In [19]:
vd = {}
anom = {}
for v in tqdm(unique_vehicles):
    vd[v] = df[df['VehicleID'] == v].copy().sort_values(by='Timestamp')

100%|██████████| 911/911 [01:02<00:00, 21.53it/s]

In [26]:
v = unique_vehicles[5]

In [27]:
vd_back = vd[v].copy()

In [30]:
vd[v] = vd_back

In [31]:
vd[v], removed = remove_speed_anomalies(vd[v])

In [32]:
type(removed)

pandas.core.frame.DataFrame

In [34]:
removed

,Timestamp,LineID,Direction,PatternID,TimeFrame,JourneyID,Operator,Congestion,Lon,Lat,...,VehicleID,StopID,AtStop,DateTime,Day,Hour,Minute,dt,dx,v
18387,1357030344000000,15,0,None,2013-01-01,12721,RD,0,-6.247300,53.343735,...,33488,0,0,2013-01-01 08:52:24,1,8,52,8.0,317.633849,142.935232
20472,1357030644000000,15,0,None,2013-01-01,12721,RD,0,-6.272433,53.339451,...,33488,0,0,2013-01-01 08:57:24,1,8,57,6.0,202.438540,121.463124
20913,1357030703000000,15,0,None,2013-01-01,12721,RD,0,-6.272400,53.337517,...,33488,0,0,2013-01-01 08:58:23,1,8,58,6.0,189.171700,113.503020
22647,1357030944000000,15,0,None,2013-01-01,12721,RD,0,-6.276516,53.328266,...,33488,0,0,2013-01-01 09:02:24,1,9,2,6.0,207.985256,124.791154
24029,1357031124000000,15,0,None,2013-01-01,12721,RD,0,-6.284483,53.321117,...,33488,0,0,2013-01-01 09:05:24,1,9,5,4.0,286.192273,257.573046
24486,1357031183000000,15,0,None,2013-01-01,12721,RD,0,-6.294283,53.316284,...,33488,0,0,2013-01-01 09:06:23,1,9,6,4.0,315.158138,283.642324
24981,1357031248000000,15,0,None,2013-01-01,12721,RD,0,-6.302850,53.310249,...,33488,0,0,2013-01-01 09:07:28,1,9,7,8.0,235.985343,106.193404
25461,1357031303000000,15,0,None,2013-01-01,12721,RD,0,-6.307200,53.304634,...,33488,0,0,2013-01-01 09:08:23,1,9,8,4.0,351.994228,316.794805
25981,1357031364000000,15,0,None,2013-01-01,12721,RD,0,-6.309300,53.297749,...,33488,0,0,2013-01-01 09:09:24,1,9,9,6.0,312.213362,187.328017
26440,1357031423000000,15,0,None,2013-01-01,12721,RD,0,-6.308833,53.294117,...,33488,0,0,2013-01-01 09:10:23,1,9,10,4.0,186.555388,167.899849
26981,1357031484000000,15,0,None,2013-01-01,12721,RD,0,-6.314433,53.290733,...,33488,0,0,2013-01-01 09:11:24,1,9,11,4.0,305.398266,274.858439
27471,1357031544000000,15,0,None,2013-01-01,12721,RD,0,-6.326917,53.287735,...,33488,0,0,2013-01-01 09:12:24,1,9,12,5.0,321.335802,231.361777
27785,1357031584000000,15,0,None,2013-01-01,12721,RD,0,-6.330783,53.286098,...,33488,0,0,2013-01-01 09:13:04,1,9,13,20.0,693.390215,124.810239
112554,1357039012000000,15,0,015B1001,2013-01-01,14421,RD,0,-6.318087,53.272987,...,33488,6286,0,2013-01-01 11:16:52,1,11,16,2.0,569.615163,1025.307294
112853,1357039030000000,15,0,015B1001,2013-01-01,14421,RD,0,-6.311570,53.272842,...,33488,6288,0,2013-01-01 11:17:10,1,11,17,20.0,982.987152,176.937687
113088,1357039049000000,15,0,015B1001,2013-01-01,14421,RD,0,-6.308409,53.272987,...,33488,6288,0,2013-01-01 11:17:29,1,11,17,39.0,1192.599885,110.086143
163741,1357042613000000,15,0,015B0001,2013-01-01,14422,RD,0,-6.240465,53.346130,...,33488,7512,0,2013-01-01 12:16:53,1,12,16,4.0,421.773646,379.596282
163979,1357042629000000,15,0,015B0001,2013-01-01,14422,RD,0,-6.242975,53.346321,...,33488,7371,1,2013-01-01 12:17:09,1,12,17,20.0,589.043328,106.027799
282857,1357049938000000,15,0,015B0001,2013-01-01,14424,RD,0,-6.240843,53.346191,...,33488,7512,0,2013-01-01 14:18:58,1,14,18,8.0,447.755530,201.489988
285820,1357050119000000,15,0,015B0001,2013-01-01,14424,RD,0,-6.247394,53.343750,...,33488,7221,0,2013-01-01 14:21:59,1,14,21,10.0,327.550358,117.918129
286435,1357050150000000,15,0,015B0001,2013-01-01,14424,RD,0,-6.254833,53.345200,...,33488,7221,0,2013-01-01 14:22:30,1,14,22,19.0,531.502045,100.705651
337631,1357053369000000,15,0,015B1001,2013-01-01,14425,RD,0,-6.326075,53.271137,...,33488,6285,0,2013-01-01 15:16:09,1,15,16,10.0,317.851032,114.426372
338928,1357053451000000,15,0,015B1001,2013-01-01,14425,RD,0,-6.307922,53.272964,...,33488,6288,0,2013-01-01 15:17:31,1,15,17,21.0,1224.084235,209.843012
339181,1357053469000000,15,0,015B1001,2013-01-01,14425,RD,0,-6.305309,53.273479,...,33488,6342,0,2013-01-01 15:17:49,1,15,17,39.0,1405.197122,129.710504
396618,1357057021000000,15,0,015B0001,2013-01-01,14426,RD,0,-6.241499,53.346249,...,33488,7512,0,2013-01-01 16:17:01,1,16,17,12.0,491.617628,147.485288
642042,1357073207000000,15,0,015B1001,2013-01-01,14416,RD,0,-6.311179,53.272869,...,33488,6288,0,2013-01-01 20:46:47,1,20,46,20.0,1009.079961,181.634393
642313,1357073228000000,15,0,015B1001,2013-01-01,14416,RD,0,-6.308252,53.272980,...,33488,6288,0,2013-01-01 20:47:08,1,20,47,41.0,1202.751908,105.607485
687128,1357076806000000,15,0,015B0001,2013-01-01,14417,RD,0,-6.242735,53.346302,...,33488,7512,0,2013-01-01 21:46:46,1,21,46,19.0,573.015108,108.571284
729989,1357080325000000,15,0,None,2013-01-01,14418,RD,0,-6.326075,53.271137,...,33488,6285,0,2013-01-01 22:45:25,1,22,45,10.0,285.657783,102.836802
730988,1357080407000000,15,0,015B1001,2013-01-01,14418,RD,0,-6.306791,53.272984,...,33488,6342,0,2013-01-01 22:46:47,1,22,46,20.0,1298.658188,233.758474
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41671915,1359455032000000,1,0,00011001,2013-01-29,4645,RD,0,-6.259269,53.345840,...,33488,319,1,2013-01-29 10:23:52,29,10,23,7.0,303.540167,156.106372
42267304,1359477067000000,1,0,00011001,2013-01-29,4651,RD,0,-6.260867,53.351151,...,33488,278,0,2013-01-29 16:31:07,29,16,31,4.0,127.853701,115.068331
42469873,1359483146000000,1,0,00011001,2013-01-29,4653,RD,0,-6.208248,53.326946,...,33488,4451,0,2013-01-29 18:12:26,29,18,12,3.0,196.545063,235.854076
42498357,1359484018000000,1,0,00011001,2013-01-29,4653,RD,0,-6.238366,53.342388,...,33488,395,0,2013-01-29 18:26:58,29,18,26,2.0,157.606214,283.691186
42578922,1359486561000000,1,0,00010001,2013-01-29,4654,RD,0,-6.262012,53.353268,...,33488,265,0,2013-01-29 19:09:21,29,19,9,8.0,4292.186715,1931.484022
42579437,1359486580000000,1,0,00010001,2013-01-29,4654,RD,0,-6.262012,53.353268,...,33488,265,0,2013-01-29 19:09:40,29,19,9,27.0,4292.186715,572.291562
42580465,1359486616000000,1,0,00010001,2013-01-29,4654,RD,0,-6.262012,53.353268,...,33488,265,0,2013-01-29 19:10:16,29,19,10,63.0,4292.186715,245.267812
42581543,1359486659000000,1,0,00010001,2013-01-29,4654,RD,0,-6.247783,53.389702,...,33488,265,0,2013-01-29 19:10:59,29,19,10,22.0,893.951567,146.282984
42581665,1359486669000000,1,0,00010001,2013-01-29,4654,RD,0,-6.247783,53.389702,...,33488,265,0,2013-01-29 19:11:09,29,19,11,32.0,893.951567,100.569551
42593883,1359487122000000,1,0,00010001,2013-01-29,4654,RD,0,-6.259525,53.348591,...,33488,271,1,2013-01-29 19:18:42,29,19,18,19.0,3346.561160,634.085272
42598048,1359487283000000,1,0,00010001,2013-01-29,4654,RD,0,-6.253233,53.371517,...,33488,271,1,2013-01-29 19:21:23,29,19,21,6.0,221.376747,132.826048
42655020,1359489681000000,1,0,00011001,2013-01-29,4655,RD,0,-6.208334,53.324902,...,33488,381,0,2013-01-29 20:01:21,29,20,1,9.0,273.887972,109.555189
42736150,1359493848000000,1,0,00010001,2013-01-29,4656,RD,0,-6.260806,53.360245,...,33488,48,0,2013-01-29 21:10:48,29,21,10,20.0,736.109297,132.499674
42839426,1359500584000000,1,0,00010001,2013-01-29,4658,RD,0,-6.252770,53.391083,...,33488,229,0,2013-01-29 23:03:04,29,23,3,21.0,634.765848,108.817003
42894010,1359526145000000,15,0,None,2013-01-30,2584,RD,0,-6.247983,53.343834,...,33488,0,0,2013-01-30 06:09:05,30,6,9,17.0,1001.690032,212.122595
42894147,1359526165000000,15,0,None,2013-01-30,2584,RD,0,-6.248367,53.343967,...,33488,0,0,2013-01-30 06:09:25,30,6,9,37.0,1029.507678,100.168315
42894673,1359526206000000,15,0,None,2013-01-30,2584,RD,0,-6.254734,53.345234,...,33488,0,0,2013-01-30 06:10:06,30,6,10,16.0,445.525247,100.243181
42895691,1359526306000000,15,0,None,2013-01-30,2584,RD,0,-6.242983,53.342918,...,33488,0,0,2013-01-30 06:11:46,30,6,11,20.0,826.563297,148.781394
43244430,1359537521000000,15,0,015A0001,2013-01-30,2587,RD,0,-6.334517,53.306816,...,33488,1105,0,2013-01-30 09:18:41,30,9,18,6.0,196.966680,118.180008
43633595,1359576582000000,15,0,015B0001,2013-01-30,2751,RD,0,-6.315425,53.273346,...,33488,6280,0,2013-01-30 20:09:42,30,20,9,16.0,746.446902,167.950553
43652025,1359577463000000,15,0,None,2013-01-30,2751,RD,0,-6.272600,53.337749,...,33488,6280,0,2013-01-30 20:24:23,30,20,24,20.0,3142.016247,565.562924
43652639,1359577486000000,15,0,None,2013-01-30,2751,RD,0,-6.272650,53.338032,...,33488,6280,0,2013-01-30 20:24:46,30,20,24,43.0,3172.524238,265.606680
43652865,1359577502000000,15,0,None,2013-01-30,2751,RD,0,-6.272733,53.339100,...,33488,6280,0,2013-01-30 20:25:02,30,20,25,59.0,3288.924132,200.680117
43653384,1359577525000000,15,0,None,2013-01-30,2751,RD,0,-6.272333,53.341183,...,33488,6280,0,2013-01-30 20:25:25,30,20,25,82.0,3521.881605,154.619192
43653687,1359577543000000,15,0,None,2013-01-30,2751,RD,0,-6.271250,53.343033,...,33488,6280,0,2013-01-30 20:25:43,30,20,25,100.0,3736.321376,134.507570
43654074,1359577565000000,15,0,None,2013-01-30,2751,RD,0,-6.270167,53.343468,...,33488,6280,0,2013-01-30 20:26:05,30,20,26,122.0,3796.224888,112.019751
43916879,1359615371000000,15,0,None,2013-01-31,6604,RD,0,-6.271300,53.315983,...,33488,0,0,2013-01-31 06:56:11,31,6,56,17.0,545.290756,115.473337
43919610,1359615472000000,15,0,None,2013-01-31,6604,RD,0,-6.284400,53.309616,...,33488,0,0,2013-01-31 06:57:52,31,6,57,4.0,251.685603,226.517043
44212629,1359624306000000,15,0,00150001,2013-01-31,7263,RD,0,-6.222101,53.372501,...,33488,664,0,2013-01-31 09:25:06,31,9,25,9.0,301.366382,120.546553
44397898,1359630502000000,15,0,00151001,2013-01-31,7264,RD,0,-6.271018,53.316437,...,33488,1167,0,2013-01-31 11:08:22,31,11,8,4.0,211.409707,190.268736

In [ ]:
vd[v].shape

In [ ]:
vd_back.shape

In [ ]:
i1 = vd[v].index.get_loc(anom[v].index[0])
i0 = i1 - 1
i2 = i1 + 1

In [ ]:
idx2 = vd[v].index[i2]
idx1 = vd[v].index[i1]
idx0 = vd[v].index[i0]

In [ ]:
(vd[v])[i0:i2+1]

In [ ]:
vd[v].iloc[i0]['dt']

In [ ]:
vd[v].iloc[i1]['dt']

In [ ]:
# Recalculate the time difference
vd[v].loc[idx2,'dt'] += vd[v].loc[idx1, 'dt']

In [ ]:
# Recalculate the distance
lat1 = vd[v].loc[idx0, 'Lat']
lon1 = vd[v].loc[idx0, 'Lon']
lat2 = vd[v].loc[idx2, 'Lat']
lon2 = vd[v].loc[idx2, 'Lon']

vd[v].loc[idx2,'dx'] = num_haversine(lat1, lon1, lat2, lon2)

In [ ]:
# Recalculate the speed
vd[v].loc[idx2,'v'] = vd[v].loc[idx2, 'dx'] / vd[v].loc[idx2, 'dt'] * 3.6

In [ ]:
pool = multiprocessing.Pool()
result = pool.map(par_remove_speed_anomalies, vd_tuple)

In [ ]:
df = vd[v].copy()

In [ ]:
anom = df[df['v'] > 70]

In [ ]:
while anom.shape[0] > 0:
    df = df.drop(anom.index[0])
    df = calculate_dt(df, 'Timestamp', 'dt', one_second=1000000)
    df = calculate_dx(df, 'Lat', 'Lon', 'dx')
    df = calculate_speed(df, 'dx', 'dt', 'v')
    anom = df[df['v'] > 70]

In [ ]:
vt1 = df[(df['Day'] == 3)]

In [ ]:
vt0 = vd[v]
vt0 = vt0[vt0['Day'] == 3]

In [ ]:
vt1.shape

In [ ]:
vt0.shape

In [ ]:
v0 = df[df['VehicleID'] == unique_vehicles[0]]

In [ ]:
v0['dt'].max()

In [ ]:
v0['dx'].max()

In [ ]:
v0.to_csv("data/v0.csv", index=False)

In [ ]:
# df[df['VehicleID'] == unique_vehicles[10]].head(20)

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
df[(df['v'] > 0) & (df['v'] < 80)].boxplot(['v'], figsize=(6,6))

In [ ]:
# df['v'].plot.kde()

In [ ]:
bad_journeys = df[df['v'] > 70]['JourneyID'].unique()

In [ ]:
bad_journeys

In [ ]:
bad_journeys.shape

In [ ]:
df[df['JourneyID'] == bad_journeys[0]].shape

In [ ]:
j0 = df[(df['VehicleID'] == 43055) & (df['Day'] == 2)]

In [ ]:
vt = df[(df['VehicleID'] == 28047) & (df['Day'] == 2)]

In [ ]:
vt = df.loc[(df['JourneyID'] == bad_journeys[0]) & (df['VehicleID'] == 33231)].sort_values(['Timestamp'])

In [ ]:
vt.columns

In [ ]:
vt = df.loc[(df['VehicleID'] == 43055) & (df['Day'] == 2) & (df['Hour'] >= 18)].sort_values(['Timestamp']).copy()

In [ ]:
vt.to_csv("data/vt.csv", index=False)

In [ ]:
lat = vt['Lat'].to_numpy()
lon = vt['Lon'].to_numpy()

In [ ]:
lat.shape[0]

In [ ]:
@interact
def show_trajectory(t=(0, 226, 1)):
    lat = vt['Lat'][:t].to_numpy()
    lon = vt['Lon'][:t].to_numpy()
    plt.plot(lon, lat)

In [ ]:
# for p in points:
#     folium.map.Marker(p).add_to(map)

In [ ]:
# map.save("html/index.html")

In [ ]:
def create_map(df):
    points = list(zip(df['Lat'].to_numpy(), df['Lon'].to_numpy()))
    map = folium.Map()
    polyline = folium.vector_layers.PolyLine(points)
    map.fit_bounds(points)
    polyline.add_to(map)
    return map

In [ ]:
ox.utils.get_nearest_edges(G, [53.221329, 53.220623, 53.223812], [-6.233653, -6.226733, -6.240146], method='balltree')

In [ ]:
ox.utils.get_nearest_edges(G, [53.220623], [-6.226733], method='balltree')

In [ ]:
ox.utils.get_nearest_edges(G, [53.223812], [-6.240146], method='balltree')

In [ ]:
G.edges[1713292579]

In [ ]:
n0 = G.nodes(1713292579)
n1 = G.nodes(31932030)

In [ ]:
n0.isdisjoint(n1)

In [ ]:
vt[50:]

In [ ]:
idx = vt[vt['v'] > 90].index

In [ ]:
idx

In [ ]:
vt[vt['v'] > 90]