In [1]:
# import urllib

In [2]:
# url = "http://opendata.dublincity.ie/TrafficOpenData/sir010113-310113.zip"

# urllib.request.urlretrieve(url, "data/sir010113-310113.zip")

In [11]:
import numpy as np
import pandas as pd
import zipfile

In [12]:
header = ['ts', 'line', 'direction', 'pattern', 'time', 'journey', 'operator', 
          'congestion', 'lon', 'lat', 'delay', 'block', 'vehicle', 'stop', 'atstop']

In [13]:
types = {'ts': np.int64,
         'journey': np.int32,
         'congestion': np.int8,
         'lon': np.float64,
         'lat': np.float64,
         'delay': np.int8,
         'vehicle': np.int32,
         'atstop': np.int8}

In [14]:
file_name = "data/sir010113-310113.zip"

In [21]:
final_df = None

In [23]:
with zipfile.ZipFile(file_name) as z:
    files = z.infolist()
    for f in files:
        print(f.filename)
        z.extract(f, path='data')
        df = pd.read_csv("data/" + f.filename, header=None, names=header, dtype=types, parse_dates=['time'], infer_datetime_format=True)
        if final_df is None:
            final_df = df
        else:
            final_df = final_df.append(df)

siri.20130101.csv.gz
siri.20130102.csv.gz
siri.20130103.csv.gz
siri.20130104.csv.gz
siri.20130105.csv.gz
siri.20130106.csv.gz
siri.20130107.csv.gz
siri.20130108.csv.gz
siri.20130109.csv.gz
siri.20130110.csv.gz
siri.20130111.csv.gz
siri.20130112.csv.gz
siri.20130113.csv.gz
siri.20130114.csv.gz
siri.20130115.csv.gz
siri.20130116.csv.gz
siri.20130117.csv.gz
siri.20130118.csv.gz
siri.20130119.csv.gz
siri.20130120.csv.gz
siri.20130121.csv.gz
siri.20130122.csv.gz
siri.20130123.csv.gz
siri.20130124.csv.gz
siri.20130125.csv.gz
siri.20130126.csv.gz
siri.20130127.csv.gz
siri.20130128.csv.gz
siri.20130129.csv.gz
siri.20130130.csv.gz
siri.20130131.csv.gz

In [24]:
final_df.describe()

,ts,line,direction,journey,congestion,lon,lat,delay,block,vehicle,stop,atstop
count,4.445513e+07,4.445308e+07,44455133.0,4.445513e+07,4.445513e+07,4.445513e+07,4.445513e+07,4.445513e+07,4.445513e+07,4.445513e+07,4.195296e+07,4.445513e+07
mean,1.358318e+15,7.796879e+01,0.0,9.417119e+03,1.163260e-02,-6.272803e+00,5.334513e+01,-2.668891e-01,1.092438e+05,3.542925e+04,2.791466e+03,2.335773e-01
std,7.394928e+11,1.146419e+02,0.0,6.159842e+04,1.072254e-01,8.389026e-02,5.488355e-02,6.585882e+01,1.921244e+05,3.281093e+03,2.204842e+03,4.231063e-01
min,1.356998e+15,1.000000e+00,0.0,1.000000e+00,0.000000e+00,-6.617517e+00,5.306802e+01,-1.280000e+02,3.900000e+02,2.804700e+04,2.000000e+00,0.000000e+00
25%,1.357679e+15,2.500000e+01,0.0,2.536000e+03,0.000000e+00,-6.308650e+00,5.332005e+01,-4.800000e+01,1.602000e+04,3.330800e+04,8.450000e+02,0.000000e+00
50%,1.358327e+15,4.000000e+01,0.0,4.718000e+03,0.000000e+00,-6.261600e+00,5.334645e+01,0.000000e+00,4.020500e+04,3.352500e+04,2.159000e+03,0.000000e+00
75%,1.358955e+15,8.300000e+01,0.0,6.769000e+03,0.000000e+00,-6.233166e+00,5.337533e+01,4.700000e+01,8.400400e+04,3.802500e+04,4.465000e+03,0.000000e+00
max,1.359633e+15,7.470000e+02,0.0,9.998560e+05,1.000000e+00,-6.052917e+00,5.360873e+01,1.270000e+02,8.350020e+05,4.307800e+04,7.552000e+03,1.000000e+00

In [27]:
final_df.to_parquet("data/sir010113-310113.parquet", index=False)

In [20]:
df.head()

,ts,line,direction,pattern,time,journey,operator,congestion,lon,lat,delay,block,vehicle,stop,atstop
0,1358035200000000,140,0,01400002,2013-01-12,12796,HN,0,-6.244467,53.382683,-23,140001,38071,6059.0,1
1,1358035202000000,76,0,00760001,2013-01-12,10606,CD,0,-6.371610,53.299339,-122,76001,33411,2619.0,0
2,1358035202000000,7,0,00071003,2013-01-12,12190,D1,0,-6.227662,53.328068,92,7002,43018,483.0,0
3,1358035202000000,79,0,NaN,2013-01-12,9053,CD,0,-6.266433,53.345566,44,79004,33413,326.0,0
4,1358035202000000,66,0,NaN,2013-01-12,8490,PO,0,-6.390083,53.356365,-76,66004,33573,4003.0,0