In [1]:
import numpy as np
import pandas as pd

In [2]:
def load_data():
    df = pd.read_csv("data/201301.csv", usecols=['timestamp', 'lon', 'lat', 'vehicle_id', 'stop_id', 'at_stop', 'speed'])
    return df

In [3]:
df = load_data()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43945706 entries, 0 to 43945705
Data columns (total 7 columns):
timestamp     object
lon           float64
lat           float64
vehicle_id    int64
stop_id       int64
at_stop       int64
speed         float64
dtypes: float64(3), int64(3), object(1)
memory usage: 2.3+ GB

In [5]:
df.head(10)

,timestamp,lon,lat,vehicle_id,stop_id,at_stop,speed
0,2013-01-01 00:00:03,-6.236852,53.425327,40040,7411,0,0.000000
1,2013-01-01 00:00:05,-6.233417,53.342232,33521,395,0,0.000000
2,2013-01-01 00:00:07,-6.278250,53.416683,33142,6071,0,0.000000
3,2013-01-01 00:00:07,-6.231633,53.317768,43004,3222,1,0.000000
4,2013-01-01 00:00:11,-6.254617,53.355484,40039,1445,0,0.000000
5,2013-01-01 00:00:11,-6.233183,53.342201,33488,2379,0,0.000000
6,2013-01-01 00:00:17,-6.296867,53.347500,33604,4604,0,0.000000
7,2013-01-01 00:00:23,-6.238668,53.425789,40040,7411,0,23.553309
8,2013-01-01 00:00:25,-6.233400,53.342232,33521,395,0,0.203177
9,2013-01-01 00:00:27,-6.279000,53.416683,43043,7226,0,0.000000

In [6]:
selection = (df['stop_id'] == 395) # & (df['at_stop'] == 1)

In [7]:
len(selection[selection])

60522

In [17]:
stop_location = df.loc[selection, ['lon', 'lat']]

In [18]:
stop_location.to_csv("data/s395.csv", index=False)